* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.login {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.login- {
    flex: 1 1 400px;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fdff;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.google-button {
    max-width: 225px;
    display: flex;
    padding: 0.8rem 1.4rem;
    font-size: 0.700rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
    width: 100%;
}

.google-button svg {
    height: 24px;
}

.google-button:hover {
    trans: scale(1.02);
}

.button {
    display: flex;
    max-width: 225px;
    background-color: #0A66C2;
    color: #ffffff;
    padding: 0.6rem 1.4rem;
    font-size: 0.700rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    transition: all .6s ease;
    width: 100%;
}

.button svg {
    height: 30px;
}

.button:hover {
    box-shadow: none;
}

.separator {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 0.5rem;
}

.ou-text {
    color: #666;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    text-trans: uppercase;
}

.login--wrapper {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}

.-control {
    width: 100%;
    margin-bottom: 1rem;
}

.btn-primary {
    width: 100%;
    margin-top: 1rem;
}

.banner-login {
    flex: 1 1 600px;
    min-height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-text {
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.banner-text h2 {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    color: #99c7f5;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.banner-text h3 {
    font-family: 'Lobster', cursive;
    font-size: 2.2rem;
    color: #99c7f5;
    letter-spacing: 1px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.-check {
    margin-bottom: 1rem;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.form-check {
    margin-bottom: 0; /* Remove a margem inferior para evitar espaçamento extra */
}

.btn-primary {
    margin: 0; /* Remove a margem do botão para evitar desalinhamento */
}

@media (max-width: 768px) {
    .banner-login {
        min-height: 30vh;
    }

    .login- {
        min-height: auto;
        padding: 4rem 2rem;
    }
}
